<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Detail</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/raty/2.9.0/jquery.raty.css" />

<style type="text/css">
body {
	background: #eee url(http://subtlepatterns.com/patterns/sativa.png);
}

h1 {
	line-height: 1;
	color: #008BBB;
	font-famly: 'Bitter', serif;
}

.star {
	margin: 0 auto; /* Added */
	float: none; /* Added */
	margin-bottom: 10px; /* Added */
}

."
table-active " {vertical-rl

}

.inner {
	padding-top: 30px;
	display: flex;
	justify-content: space-evenly;
}
</style>

<script
	src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/raty/2.9.0/jquery.raty.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/raty/2.9.0/jquery.raty.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/raty/2.9.0/images/star-off.png"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/raty/2.9.0/images/star-on.png"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script type="text/javascript">
	function deleteMessageConfirm() {
		myRet = window.confirm("この投稿を削除します。よろしいですか？");
		if (myRet == true) {
			alert("削除しました。");
			return true;
		} else {
			alert("キャンセルされました。");
			return false;
		}
	}
</script>

</head>
<nav class="navbar fixed-top navbar-light bg-light"
	style="background-color: #e3f2fd;">
	<nav class="navbar navbar-light bg-light">
		<a class="navbar-brand" th:href="@{/top}"> <img
			src="../images/video.png" width="30" height="30"
			class="d-inline-block align-top" alt=""> Movie Diary
		</a>
		<div class="header">
			<a th:href="@{/signup}">　　ユーザー登録　　</a> <a th:href="@{/review}">　　新規投稿　　</a>
			<a th:href="@{/}">　　投稿一覧　　</a> <a th:href="@{/logout}">　　ログアウト　　</a>
		</div>
	</nav>
</nav>
<body>
<body class="text-center pt-5">
	<div class="col-sm-5 m-auto">
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<h1>感想</h1>
		<div class="review">
			<table class="table table-bordered table-hover">
				<tr>
				<tr>
					<th class=table-active><strong><div th:text="タイトル"></div></strong></th>
					<td><div th:text="*{movie.title}"></div></td>
				</tr>
				<tr>
					<th class=table-active>カテゴリ</th>
					<td><div th:text="*{movie.category}"></div></td>
				</tr>
				<tr>
					<th class=table-active>感想</th>
					<td><div
							th:utext="${#strings.replace(#strings.escapeXml(movie.text),
							T(java.lang.System).getProperty('line.separator'), '&lt;br /&gt;')}"></div></td>
				</tr>
				<tr>
					<th class=table-active>評価</th>
					<td><div id="star" th:data-score="*{movie.rate}"></div></td>
					<script type="text/javascript">
						$.fn.raty.defaults.path = "../images";
						$('#star').raty({
							readOnly : true,
							score : function() {
								return $(this).attr('data-score');
							}
						});
					</script>
				</tr>
				<tr>
					<th class=table-active></th>
					<td><div th:text="*{movie.user.account}"></div></td>
				</tr>
				<!-- <tr>
					<th class="table-active">日付</th>
					<td><div
							th:text="*{#dates.format(movie.createdDate, 'yyyy/MM/dd HH:mm')}"></div></td> -->
				</tr>
				<tr>
			</table>
			<div class="inner">
				<div class="btn-group">
					<form th:method="post" th:action="@{/delete/{id}(id=${movie.id})}"
						th:if="${loginUser.id} == ${movie.userId}"
						onSubmit="return deleteMessageConfirm()">
						<button class="btn btn-danger" type="submit" value="delete">削除</button>
					</form>
				</div>
				<div class="btn-group">
					<form th:action="@{/edit/{id}(id=${movie.id})}"
						th:if="${loginUser.id} == ${movie.userId}" class=”form-inline”>
						<button type="submit" value="edit" class="btn btn-info">編集</button>
					</form>
				</div>
			</div>
		</div>
		<a th:href="@{/}">back</a>
	</div>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<div class="copyright">Copyright(c)Chiho Iwasaki</div>
</body>
</html>