<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Edit</title>

<link rel="stylesheet"
	href="//maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link th:href="@{/css/NewFile.css}" rel="stylesheet" type="text/css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/raty/2.9.0/jquery.raty.css" />

<style type="text/css">
body {
	background: #eee url(http://subtlepatterns.com/patterns/sativa.png);
}

h1 {
	line-height: 1;
	color: #008BBB;
	font-famly: 'Bitter', serif;
}

header:hover {
	text-decoration: none;
}
</style>

<script
	src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/raty/2.9.0/jquery.raty.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/raty/2.9.0/jquery.raty.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/raty/2.9.0/images/star-off.png"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/raty/2.9.0/images/star-on.png"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script type="text/javascript">
	$.fn.raty.defaults.path = "../images";
	$('#star').raty({
		readOnly : true,
		score : function() {
			return $(this).attr('data-score');
		}
	});
	var score = $('#star').raty('score');
</script>
</head>
<nav class="navbar fixed-top navbar-light bg-light"
	style="background-color: #e3f2fd;">
	<nav class="navbar navbar-light bg-light">
		<a class="navbar-brand" th:href="@{/top}"> <img
			src="../images/video.png" width="30" height="30"
			class="d-inline-block align-top" alt=""> Movie Diary
		</a>
		<div class=header>
			<a th:href="@{/signup}">　　ユーザー登録　　</a> <a th:href="@{/review}">　　新規投稿　　</a>
			<a th:href="@{/}">　　投稿一覧　　</a> <a th:href="@{/logout}">　　ログアウト　　</a>
		</div>
	</nav>
</nav>
<body>
<body class="text-center pt-5">
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<div class="col-sm-5 m-auto">
		<div th:if="${errorMessages != null}">
			<div th:each="errorMessage :${ errorMessages }">
				<p th:text="${errorMessage}"></p>
			</div>
		</div>
		<h1>投稿編集</h1>
		<form th:method="put" th:action="@{/edit/{id}(id=${movie.id})}">
			<table class="table table-bordered table-hover">
				<tr>
				<tr>
					<th class="table-active">題名</th>
					<td><input th:if="${movie.title == null}" type="text"
						name="title" class="form-control"> <input
						th:if="${movie.title != null}" type="text" name="title"
						class="form-control" th:value="${movie.title}"></td>
				</tr>
				<tr>
					<th class="table-active">カテゴリ</th>
					<td><input th:if="${movie.category == null}" type="text"
						name="category" class="form-control"> <input
						th:if="${movie.category != null}" type="text" name="category"
						class="form-control" th:value="${movie.category}"></td>
				</tr>
				<tr>
					<th class="table-active">感想</th>
					<td><textarea th:if="${movie.text == null}" name="text"
							class="form-control"></textarea> <textarea
							th:if="${movie.text != null}" name="text" class="form-control"
							th:text="${movie.text}"></textarea></td>
				</tr>
				<tr>
					<th class="table-active">評価</th>
					<td><span class="star-rating"> <input type="radio"
							name="rate" value="1"><i></i> <input type="radio"
							name="rate" value="2"><i></i> <input type="radio"
							name="rate" value="3"><i></i> <input type="radio"
							name="rate" value="4"><i></i> <input type="radio"
							name="rate" value="5"><i></i>
					</span></td>
				</tr>
			</table>
			<button class="btn btn-info" type="submit" value="投稿">編集</button>
		</form>
	</div>
	<ul class="navbar-nav mr-auto">
		<li class="nav-item"><a th:href="@{/}">戻る</a></li>
	</ul>
</body>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="copyright">Copyright(c)Chiho Iwasaki</div>
</html>