<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>MovieReview</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/raty/2.9.0/jquery.raty.css" />

<style type="text/css">
body {
	background: #eee url(http://subtlepatterns.com/patterns/sativa.png);
}

@import url('https://fonts.googleapis.com/css?family=Sawarabi+Gothic');

.title {
	line-height: 1;
	color: #008BBB;
	font-famly: 'Bitter', serif;
}

.title {
	font-family: 'Sawarabi Gothic', sans-serif;
}

.card {
	margin: 0 auto; /* Added */
	float: none; /* Added */
	margin-bottom: 10px; /* Added */
}

.pagination {
	justify-content: center;
}
</style>


<script
	src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/raty/2.9.0/jquery.raty.min.js"
	integrity="sha512-81YD4qXhDCsw6Xy5tvz7XWxKfhSzqVhvh7DECpPmppQGyk/wWsnZBlkvWyCujPpydBhhoI5OP0l2699GrVS1Zw=="
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/raty/2.9.0/jquery.raty.js"
	integrity="sha512-sQjwIvhxEuNoBz1gkCnITZ0Sxh9P0+ve3IQYa0FujZpWer5a8WH9Vq0dnOagO9DVBewnV/NBr1w/1Aqay8fxcQ=="
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/raty/2.9.0/images/star-off.png"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/raty/2.9.0/images/star-on.png"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>

<script type="text/javascript">
	$(function() {
		$.fn.raty.defaults.path = "./images";
		$('.default').raty({
			readOnly : true,
			score : function() {
				return $(this).attr('data-score');
			}
		});
	});
</script>

</head>


<nav class="navbar fixed-top navbar-light bg-light"
	style="background-color: #e3f2fd;">
	<div class="header">
		<nav class="navbar navbar-light bg-light">
			<a class="navbar-brand" th:href="@{/top}"> <img
				src="./images/video.png" width="30" height="30"
				class="d-inline-block align-top" alt=""> Movie Diary
			</a> <a th:href="@{/signup}">　　ユーザー登録　　</a> <a th:href="@{/review}">　　新規投稿　　</a>
			<a th:href="@{/}">　　投稿一覧　　</a> <a th:href="@{/logout}" th:if="${loginUser != null}">　　ログアウト　　</a>
	</div>
	<form class="form-inline my-2 my-lg-0" th:action="@{/}" th:method="get">
		<input class="form-control mr-sm-2" name="title" type="text"
			th:value="${title}" placeholder="title"> <input
			class="form-control mr-sm-2" name="category" type="text"
			th:value="${category}" placeholder="category"> <select
			data-show-content="true" name="rate" class="selectpicker">
			<option value=”1”>★</option>
			<option value=”2”>★★</option>
			<option value=”3”>★★★</option>
			<option value=”4”>★★★★</option>
			<option value=”5”>★★★★★</option>
		</select> <br>
		<br>
		<button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
	</form>
</nav>

<body class="text-center pt-5">

	<br>
	<br>
	<br>

	<br>
	<br>
	<br>
	<h1 class="title">投稿一覧</h1>

	<div class="container">
		<div th:each="movie : *{movies}">
			<div class="card text-center" style="width: 25rem;" mx-auto>
				<div class="row justify-content-center">
					<div class="card-group mb-3">
						<div class="card-body">
							<h5 class="card-title">
								<strong><div th:text="*{movie.title}"></div></strong>
							</h5>
							<ul class="list-group list-group-flush">
								<li class="list-group-item">
									<div>
										カテゴリ : <span th:text="*{movie.category}"></span>
									</div>
								</li>
							</ul>
							<ul class="list-group list-group-flush">
								<li class="list-group-item">
									<div>
										＠<span th:text="*{movie.user.account}"></span>
									</div>
								</li>
							</ul>
							<p class="card-text">
							<div class="default" th:data-score="*{movie.rate}"></div>
							</p>

							<p class="card-text">
							<div
								th:text="*{#dates.format(movie.createdDate, 'yyyy/MM/dd HH:mm')}"></div>
							</p>
							<a th:href="@{/detail/{id}(id=${movie.id})}" class="btn btn-info">Go
								detail</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br>
		<br>
		<br>
		<!--  ページネーション　-->
		<nav aria-label="Page navigation example ">
			<ul class="pagination">
				<li class="page-item"><a class="page-link"
					th:href="@{/?page=1}" aria-label="Previous"> <span
						aria-hidden="true">＜＜</span>
				</a></li>
				<li class="page-item"><a class="page-link"
					th:href="@{/?page={page} (page = ${pagination.prevBlock})}"
					aria-label="Previous"> <span aria-hidden="true">＜</span>
				</a></li>
				<th:block
					th:with="start = ${pagination.startPage}, end = ${pagination.endPage}">
					<li class="page-item"
						th:with="start = ${pagination.startPage}, end = ${pagination.endPage}"
						th:each="pageButton : ${#numbers.sequence(start, end)}"><a
						class="page-link"
						th:href="@{/?page={page} (page = ${pageButton})}"
						th:text=${pageButton}></a></li>
				</th:block>
				<li class="page-item"><a class="page-link"
					th:href="@{?page={page} (page = ${pagination.nextBlock})}"
					aria-label="Next"> <span aria-hidden="true">＞</span>
				</a></li>
				<li class="page-item"><a class="page-link"
					th:href="@{?page={page} (page = ${pagination.totalPageCnt})}"
					aria-label="Previous"> <span aria-hidden="true">＞＞</span>
				</a></li>
			</ul>
		</nav>
	</div>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<div class="copyright">Copyright(c)Chiho Iwasaki</div>
</body>
</html>