<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}"
	rel="stylesheet"></link>

<style type="text/css">
body {
	background: #eee url(http://subtlepatterns.com/patterns/sativa.png);
}

html, body {
	position: relative;
	height: 100%;
}

h1 {
	line-height: 1;
	color: #008BBB;
	font-famly: 'Bitter', serif;
}

.copyright {
	text-align: center;
}

.login-container {
	position: relative;
	width: 300px;
	margin: 80px auto;
	padding: 20px 40px 40px;
	text-align: center;
	background: #fff;
	border: 1px solid #ccc;
}

#output {
	position: absolute;
	width: 300px;
	top: -75px;
	left: 0;
	color: #fff;
}

#output.alert-success {
	background: rgb(25, 204, 25);
}

#output.alert-danger {
	background: rgb(228, 105, 105);
}

.login-container::before, .login-container::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 3.5px;
	left: 0;
	background: #fff;
	z-index: -1;
	-webkit-transform: rotateZ(4deg);
	-moz-transform: rotateZ(4deg);
	-ms-transform: rotateZ(4deg);
	border: 1px solid #ccc;
}

.login-container::after {
	top: 5px;
	z-index: -2;
	-webkit-transform: rotateZ(-2deg);
	-moz-transform: rotateZ(-2deg);
	-ms-transform: rotateZ(-2deg);
}

.errorMessage {
	text-align: center;
}

.title {
	font-family: 'Sawarabi Gothic', sans-serif;
	text-align: center;
}

.avatar {
	background: url(../images/movie.PNG) width: 100px;
	height: 100px;
	margin: 10px auto 30px;
	border-radius: 100%;
	border: 2px solid #aaa;
	background-size: cover;
}

.form-box input {
	width: 100%;
	padding: 10px;
	text-align: center;
	height: 40px;
	border: 1px solid #ccc;;
	background: #fafafa;
	transition: 0.2s ease-in-out;
}

.form-box input:focus {
	outline: 0;
	background: #eee;
}

.form-box input[type="text"] {
	border-radius: 5px 5px 0 0;
	text-transform: lowercase;
}

.form-box input[type="password"] {
	border-radius: 0 0 5px 5px;
	border-top: 0;
}

.form-box button.login {
	margin-top: 15px;
	padding: 10px 20px;
}

.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

@
-webkit-keyframes fadeInUp { 0% {
	opacity: 0;
	-webkit-transform: translateY(20px);
	transform: translateY(20px);
}

100%
{
opacity
:

1;
-webkit-transform
:

translateY
(0);


transform
:

translateY
(0);


}
}
@
keyframes fadeInUp { 0% {
	opacity: 0;
	-webkit-transform: translateY(20px);
	-ms-transform: translateY(20px);
	transform: translateY(20px);
}
100%
{
opacity
:

1;
-webkit-transform
:

translateY
(0);


-ms-transform
:

translateY
(0);


transform
:

translateY
(0);


}
}
</style>

<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.5.2/js/bootstrap.min.js}"></script>
<script type="text/javascript">
$(function(){
var textfield = $("input[name=user]");
            $('button[type="submit"]').click(function(e) {
                e.preventDefault();

                    //show avatar
                    $(".avatar").css({
                        "background-image": "url('http://api.randomuser.me/0.3.2/portraits/women/35.jpg')"
                    });
                } else {
                    //remove success mesage replaced with error message
                    $("#output").removeClass(' alert alert-success');
                    $("#output").addClass("alert alert-danger animated fadeInUp").html("sorry enter a username ");
                }
                //console.log(textfield.val());

            });
});
</script>

<title>ログイン画面</title>
</head>
<body>
	<div class="eroorMessage" th:if="${errorMessages != null}">
		<div th:each="errorMessage :${errorMessages}">
			<p th:text="${errorMessage}"></p>
		</div>
	</div>
	<br>
	<br>
	<br>
	<h1 class="title">Movie Diary</h1>
	<div class="container">
		<div class="login-container">
			<div id="output"></div>
			<!--  <div class="avatar"></div> -->
			<div class="form-box">
				<form method="post" th:action="@{/login}" th:object="${userForm}">
					<input type="text" name="account" placeholder="username"
						th:value="${account}">
					<!--  <input name="user" type="text" placeholder="username"> -->
					<input type="password" name="password" placeholder="password">
					<!--  <input type="password" placeholder="password"> -->
					<button class="btn btn-primary btn-block login" type="submit">Login</button>
				</form>
			</div>
		</div>
	</div>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<div class="copyright">Copyright(c)Chiho Iwasaki</div>
</body>
</html>