<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ページネーション</title>

        <meta charset="utf-8" />
        <style>
          .pagination{
            padding-left:0px;
          }
            .pagination:after {
              content: "";
              display: block;
              clear: both;
            }
            .page-item {
              display: inline;
              min-width: 30px;
              text-align:center;
              border:1px solid #EEEEEE;
              float: left;
            }
        </style>
    </head>

<body>
<body>
      <h3>Specifinationで動的検索</h3>
      <form th:action="@{/search}" th:object="${form}" method="post">
        <div>
        <label>ユーザID</label>
        <input type="text" th:field="*{title1}" />
        <input type="text" th:field="*{title2}" />
        <input type="text" th:field="*{title3}" />
        </div>
        <div>
        <label>ユーザ名</label>
        <input type="text" th:field="*{category}" />
        </div>
        <input type="submit" value="検索"/>
      </form>
    <table border="1">
        <tr>
        <th>title</th>
        <th>category</th>
        </tr>
        <tr th:each="ctg : ${categorylist}">
            <td th:text="${ctg.title}"></td>
            <td th:text="${emp.category}"></td>
        </tr>
    </table>
    <form th:action="@{/pagenate}" th:object="${page}" method="get">
    <div class="float-right">
      <div>
        <span th:text="${page.number+1}"></span>
    <span>/</span>
    <span th:text="${page.totalPages}"></span>
    <span>頁を表示</span>
      </div>
      <div th:fragment='paginationbar'>
        <ul>
          <li class="page-item">
              <span th:if="${page.first}">←先頭</span>
            <a th:if="${not page.first}" th:href="@{${url}(page=0)}">←先頭</a>
          </li>
          <li class="page-item" th:each='i : ${#numbers.sequence(0, page.totalPages-1)}'>
            <span th:if='${i}==${page.number}' th:text='${i+1}'>1</span>
            <a th:if='${i}!=${page.number}' th:href="@{${url}(page=${i})}">
                <span th:text='${i+1}'>1</span>
            </a>
          </li>
          <li class="page-item">
            <span th:if="${page.last}">末尾➝</span>
            <a th:if="${not page.last}" th:href="@{${url}(page=(${page.totalPages}-1))}">末尾➝</a>           </li>
        </ul>
       </div>
     </div>
   </form>
  </body>
</body>
</html>