<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<link rel="stylesheet"
	href="//maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link th:href="@{/css/NewFile.css}" rel="stylesheet" type="text/css">
<style type="text/css">
body {
	background: #eee url(http://subtlepatterns.com/patterns/sativa.png);
}

h1 {
	line-height: 1;
	color: #008BBB;
	font-famly: 'Bitter', serif;
}
</style>


<title>映画レビュー</title>

</head>
<body>
	<br>
	<br>
	<br>
	<nav class="navbar fixed-top navbar-light bg-light"
		style="background-color: #e3f2fd;">
		<nav class="navbar navbar-light bg-light">
			<a class="navbar-brand" th:href="@{/top}"> <img
				src="./images/video.png" width="30" height="30"
				class="d-inline-block align-top" alt=""> Movie Diary
			</a>
			<div class="header">
				<a th:href="@{/signup}">　　ユーザー登録　　</a><a th:href="@{/review}">　　新規投稿　　</a>
				<a th:href="@{/}">　　投稿一覧　　</a> <a th:href="@{/logout}">　　ログアウト　　</a>
			</div>
		</nav>
	</nav>
	<br>
	<br>
	<br>
<body class="text-center pt-5">
	<div class="col-sm-5 m-auto">
		<div th:if="${errorMessages != null}">
			<div th:each="errorMessage :${ errorMessages }">
				<p th:text="${errorMessage}"></p>
			</div>
		</div>
		<h1>新規投稿</h1>
		<form method="post" th:action="@{/review}">
			<table class="table table-bordered table-hover">
				<tr>
				<tr>
					<th class="table-active">タイトル</th>
					<td><input th:if="${movieForm.title == null}" type="text"
						name="title" class="form-control"> <input
						th:if="${movieForm.title != null}" type="text" name="title"
						class="form-control" th:value="${movieForm.title}"></td>
				</tr>
				<tr>
					<th class="table-active">カテゴリ</th>
					<td><input th:if="${movieForm.category == null}" type="text"
						name="category" class="form-control"> <input
						th:if="${movieForm.category != null}" type="text" name="category"
						class="form-control" th:value="${movieForm.category}"></td>
				</tr>
				<tr>
					<th class="table-active">感想</th>
					<td><textarea th:if="${movieForm.text == null}" name="text"
							class="form-control"></textarea> <textarea
							th:if="${movieForm.text != null}" name="text"
							class="form-control" th:text="${movieForm.text}"></textarea></td>
				</tr>
				<tr>
					<th class="table-active">評価</th>
					<td><span class="star-rating"> <input type="radio"
							name="rate" value="1"><i></i> <input type="radio"
							name="rate" value="2"><i></i> <input type="radio"
							name="rate" value="3"><i></i> <input type="radio"
							name="rate" value="4"><i></i> <input type="radio"
							name="rate" value="5"><i></i>
					</span></td>
				</tr>
			</table>
			<button class="btn btn-info" type="submit" value="post">投稿</button>
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"><a th:href="@{/}">戻る</a></li>
			</ul>
		</form>
	</div>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<div class="copyright">Copyright(c)Chiho Iwasaki</div>
</body>
</html>