<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}"
	rel="stylesheet"></link>
<style type="text/css">
body {
	background: #eee url(http://subtlepatterns.com/patterns/sativa.png);
}

h1 {
	line-height: 1;
	color: #008BBB;
	font-famly: 'Bitter', serif;
}
</style>
<title>SIGN UP</title>
</head>
<body class="text-center pt-5">
	<nav class="navbar fixed-top navbar-light bg-light"
		style="background-color: #e3f2fd;">
		<nav class="navbar navbar-light bg-light">
			<a class="navbar-brand" th:href="@{/top}"> <img
				src="./images/video.png" width="30" height="30"
				class="d-inline-block align-top" alt=""> Movie Diary
			</a>
			<div class="header">
				<a th:href="@{/login}">　　ログイン　　</a> <a th:href="@{/signup}">　　ユーザー登録　　</a>
				<a th:href="@{/review}">　　新規投稿　　</a> <a th:href="@{/}">　　投稿一覧　　</a><ath:href="@{/logout}">　　ログアウト　　</a>
			</div>
		</nav>
	</nav>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<div th:if="${errorMessages != null}">
		<div th:each="errorMessage :${errorMessages}">
			<p th:text="${errorMessage}"></p>
		</div>
	</div>
	<h1>ユーザー登録</h1>
	<div class="col-sm-5 m-auto">
		<form method="post" th:action="@{/signup}" th:object="${userForm}">
			<table class="table table-bordered table-hover">
				<tr>
					<th class="table-active">アカウント</th>
					<td><input th:if="${userForm.account != null}"
						th:value="${userForm.account}" type="text" name="account"
						class="form-control"> <input
						th:if="${userForm.account == null}" type="text" name="account"
						class="form-control"></td>
				</tr>
				<tr>
					<th class="table-active">パスワード</th>
					<td><input type="password" name="password"
						class="form-control"></td>
				</tr>
				<tr>
					<th class="table-active">確認用パスワード</th>
					<td><input type="password" name="checkPassword"
						class="form-control"></td>
				</tr>
				<tr>
					<th class="table-active">アドレス</th>
					<td><input th:if="${userForm.email != null}"
						th:value="${userForm.email}" type="text" name="email"
						class="form-control"> <input
						th:if="${userForm.email == null}" type="text" name="email"
						class="form-control"></td>
				</tr>
			</table>
			<button class="btn btn-info" type="submit" value="post">登録</button>
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"><a th:href="@{/}">戻る</a></li>
			</ul>
		</form>
	</div>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<div class="copyright">Copyright(c)Chiho Iwasaki</div>
</body>
</html>