<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Movie Diary</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link href="https://fronts.googleapis.com/css?family=Bitter:400;700"
	rel="stylesheet">
<link href="css/style.css" rel="stylesheet">

<style type="text/css">
body {
	background: #eee url(http://subtlepatterns.com/patterns/sativa.png);
}

#index {
	background-image: url(./images/cinema.jpeg);
	/* background-repeat: no-repeat; */
	/* background-position: center center; */
	background-attachment: fixed;
	background-size: cover;
}

#index h1 {
	font-size: 150px;
	line-height: 1;
	color: #008BBB;
	font-famly: 'Bitter', serif;
}

#index h2 {
	font-size: 100px;
	color: #008BBB;
}

#index p {
	font-size: 20px;
	color: #222222;
}

.copyright {
	text-align: center;
	color: #222222;
}
</style>

</head>
<body id="index">
	<nav class="navbar fixed-top navbar-light bg-light"
		style="background-color: #e3f2fd;">
		<nav class="navbar navbar-light bg-light">
			<a class="navbar-brand" th:href="@{/}"> <img
				src="./images/video.png" width="30" height="30"
				class="d-inline-block align-top" alt=""> Movie Diary
			</a>
			<div class="header">
				<a th:href="@{/login}" th:if="${loginUser == null}">　　ログイン　　</a>
				<a th:href="@{/signup}">　　ユーザー登録　　</a><a th:href="@{/review}">　 新規投稿　　</a>
				<a th:href="@{/}">　　投稿一覧　　</a><a th:href="@{/logout}">　　ログアウト　　</a>
			</div>
		</nav>
	</nav>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<div class="content">
		<h1>
			<strong>Movie Diary</strong>
		</h1>
		<h2>
			Search your favourite movies!<br>Keep your personal Movie Diary!
		</h2>
		<p>
			このWEBサイトは、映画の感想を記録・シェアするための掲示板サイトです。<br>
			大好きな作品に出合ったとき、たくさんの人に知ってほしい作品を見つけたときにご活用いただければ幸いです。
		</p>
		<a th:href="@{/login}" th:if="${loginUser == null}"
			class="btn btn-info btn-lg active" role="button" aria-pressed="true">ログイン</a>
		<a th:href="@{/signup}" class="btn btn-info btn-lg active"
			role="button" aria-pressed="true">ユーザー登録</a> <a th:href="@{/}"
			class="btn btn-warning btn-lg active" role="button"
			aria-pressed="true">投稿一覧</a>
	</div>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<div class="copyright">Copyright(c)Chiho Iwasaki</div>
</body>
</html>